@font-face {
    font-family: "Barlow";
    src: url("BarlowCondensed-Regular.ttf");
}

@font-face {
    font-family: "BungeeOutline";
    src: url("BungeeOutline-Regular.ttf");
}

@font-face {
    font-family: "BungeeShade";
    src: url("BungeeShade-Regular.ttf");
}

body {
    margin: 0;
    color: white;
    background-image: url("Music\ of\ the\ spheres.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Stora containern*/
body>div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15vh;
}

body>div>div {
    width: 90vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.294);
    border-radius: 15px;
    margin-bottom: 10vh;
}




/*rubriken*/
body>div>div>header {
    font-family: BungeeShade;
}

div>header>h1 {
    margin: 0;
    font-size: 60px;
    padding: 20px;

}




/*knappar*/
div>nav {
    margin: 10vw 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

div>nav>div {
    font-family: "Barlow";
    font-size: 2vw;
    width: 20%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.457);
    text-align: center;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.713);
}

div>nav>div:hover {
    background-color: rgba(128, 128, 128, 0.6);
    cursor: pointer;
}

nav>.marked {
    border: 1px solid white;
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, .75);
}

nav>.marked:hover {
    background-color: rgba(255, 255, 255, 0.457);
}




/*Lilla containern */
body>div>div>main>.best {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 30px;
    width: 80vw;

}

#are_you_experienced {}

/*bild utan hover*/
.cover {
    grid-column: 4 / 6;
    width: 100%;
    margin-bottom: 10px;
}

.cover>.show_not_hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0px 0px;
}


/*bild med hover*/
.show_hover {
    display: none;
}



/*text i lilla containern*/
.album_data>div>h1 {
    font-family: BungeeOutline;
    margin: 0;
    font-size: 2.5vw;
}

.album_data>div>h2 {
    margin-top: 5px;
    margin-bottom: 60px;
    font-size: 2vw;
}

.album_data>div>p {
    margin-bottom: 0;
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.63);
}

.album_data>div>ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.63);
}

.album_data {
    grid-column: 1/span 3;
    grid-template-rows: 1fr 1fr 1fr;
}

.album_description {
    padding-right: 20px;
}

/*rutorna under img*/
.song_list {
    grid-column: 4/6;
    grid-row: 2/3;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.song_list>div {
    width: 100%;
    background-color: #0d4a7d;
    color: #c1c1c1;
    ;
}

.song_list>div:nth-child(1) {
    border-radius: 0px 0px 0px 20px;
}

.song_list>div:nth-child(2) {
    border-radius: 0 0 20px 0;
}

.song_list>div>h2 {
    font-size: 1.4vw;
    margin-left: 2vw;
}

.song_list>div>ul {
    list-style-type: decimal;
    padding-left: 4vh;
}

.song_list>div>ul>li {
    font-size: 1vw;

}

/*Grid i grid sida ett*/
.anecdotes {
    grid-column: 1/ 6;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    list-style: none;
    height: 100%;
    margin: 0;
    gap: 10px;
    width: 100%;
    padding-left: 0;
}

.anecdotes>li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

/*list style för att ta bort punkterna i ul*/
.top_right_90 {
    grid-column: 1;
    background-color: #c1c1c1;
    border-radius: 20px 0 20px 20px;
    color: #0d4a7d;
    padding: 2vh;
}

.empty {
    grid-column: 2/3;
}

.empty.tablet_empty {
    display: none;
}

.empty.phone_empty {
    display: none;
}

.two_wide.bottom_left_90 {
    grid-column: 3/5;
    background-color: #c1c1c1;
    border-radius: 20px 20px 20px 0;
    color: #0d4a7d;
    padding: 2vh;
}

.image.image_1.top_left_90 {
    grid-column: 5/6;
    background-image: url("Paul.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0 20px 20px 20px;
    padding: 0;
    color: rgba(255, 255, 255, 0.787);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom_right_90 {
    grid-column: 6/7;
    background-color: #c1c1c1;
    border-radius: 20px 20px 0 20px;
    color: #0d4a7d;
    padding: 2vh;
}




/* Andra artikeln */

#axis_bold_as_love {
    margin-bottom: 10vh;
}

#axis_bold_as_love>.anecdotes>.two_wide.bottom_left_90 {
    grid-row: 1;
    grid-column: 1/3;
    background-color: #358411;
    color: #0e0c59;
    padding: 2vh;
}

.top_left_90 {
    background-color: #358411;
    color: #0e0c59;
    padding: 2vh;
    border-radius: 0 20px 20px 20px;
}

#axis_bold_as_love>.anecdotes>.two_wide.image.image_1.top_left_90 {
    background-image: url("Danton_supple.jpg");
    grid-column: 4/6;
    padding: 0;
}

#axis_bold_as_love>.anecdotes>.bottom_right_90 {
    background-color: #358411;
    color: #0e0c59;
    padding: 2vh;
}


#axis_bold_as_love>.song_list>div {
    background-color: #0e0c59;
    color: #358411;
    padding: 1vh;
}

footer {
    margin: 20px;
}


@media (min-width: 1111px) {
    div>nav>div {
        font-size: 23px;
    }

    .album_data>div>h1 {
        font-size: 28px;
    }

    .album_data>div>h2 {
        font-size: 22px;
    }

    .album_data>div>p {
        font-size: 13px;
    }

    .album_data>div>ul {
        font-size: 13px;
    }

    .song_list>div>h2 {
        font-size: 15px;
    }

    .song_list>div>ul>li {
        font-size: 11px;
    }

    .anecdotes>li {
        font-size: 13px;
    }
}